body {
    align-self: center;
    margin: 1rem;
}

h1 {
    text-align: center;
    padding-top: 2rem;
}

p {
    margin: auto;
    padding: 1rem;
}

.nav {
    position: fixed;
    width: 100%;
}

.nav img {
    width: 100%;
    height: auto;
}